<section>
	<div class="row full-width large-collapse">
	<div class="large-12 medium-12 columns text-center" >
	
		<h1>Slider</h1>

	
			<div class="row slider-nav-thumbnails">
				<div><img src="http://placehold.it/1920x1080/85c7a9/ffffff" alt="One">
				</div>
				<div><img src="http://placehold.it/1920x1080/85b7c7/ffffff" alt="Two">
				</div>
				<div><img src="http://placehold.it/1920x1080/8596c7/ffffff" alt="Three">
				</div>
				<div><img src="http://placehold.it/1920x1080/8d85c7/ffffff" alt="Four">
				</div>
				<div><img src="http://placehold.it/1920x1080/bd85c7/ffffff" alt="Five">
				</div>
			</div>
			<!-- MAIN SLIDES -->
			<div class="row relative slider">
				<div style="color: #fff; background: #85c7a9; height: 400px;">
				</div>
				<div style="color: #fff; background: #85b7c7; height: 400px;">
				</div>
				<div  style="color: #fff; background: #8596c7; height: 400px;">
				</div>
				<div  style="color: #fff; background: #8d85c7; height: 400px;">
				</div>
				<div  style="color: #fff; background: #bd85c7; height: 400px;">
				</div>
			</div>
			
			<!-- THUMBNAILS -->
			



	</div>
</div>
</section>
