<footer id="contato" class="padding-5rem-top-bottom">
    <div class="row">
        <div class="small-12 columns">
        SEJA MEMBRO E GANHE BENEFÍCIOS EXCLUSIVOS
        </div>
        <div class="small-12 medium-6 large-3 columns">
        <input type="" name="nome" placeholder="seu nome">
        </div>
        <div class="small-12 medium-6 large-3 columns">
        <input type="" name="nome" placeholder="seu nome">
        </div>
        <div class="small-12 medium-6 large-3 columns">
        <input type="" name="nome" placeholder="seu nome">
        </div>
        <div class="small-12 medium-6 large-3 columns">
        <input type="" name="nome" placeholder="seu nome">
        </div>
    </div>
</footer>