 <!--masthead>-->
<section class="hero relative bg-creme">
    <div class=" row full-width intro">
      <div class="">
         <div class="flex-video widescreen vimeo">
          <div class="video-wrapper">
            <div class="video-player">
        
                <div class="video-trigger" id="video-trigger" style="background-image: url('{{ site.url }}/assets/img/1920/circulo_02.jpg')">
                    <a id="play-video" href="#">
                        <div class="text">
                            <img src="{{ site.url }}/assets/img/logo-white.svg" alt="" style="max-height:280px; padding-bottom:1.5rem;">
                            <br>
                            <span class="button round">
                              <b>{% include lang/string-loop.html section="masthead" id= 00 %}</b>
                              <img src="{{ site.url }}/assets/img/icon-play.svg" alt="play" style="max-height:25px">
                            </span>  
                        </div>
                    </a>
                </div>
        
                <div class="video-inner">
                    <iframe id="video" width="521" height="293" src="https://www.youtube.com/embed/qlxrei-wmyk?rel=0&amp;controls=0&amp;showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                </div>
                
            </div>
        
        </div>
        </div>
    </div>
  </section>
  