
<section class="hero full-height relative">
  <div class="row intro center-center">
    <div class="small-centered medium-centered medium-6 large-centered large-7 columns text-center">
      <img src="{{ site.url }}/assets/img/logo-white.svg" style="max-height:15rem;">
      <h4><a href="#" data-reveal-id="videoModal" class="button btn-round">ASSISTIR VÍDEO</a></h4>
      <!--<h4><a href="#quem-somos" class="page-scroll">saiba mais</a></h4>-->
    </div>
  </div>
</section>

<div id="videoModal" class="reveal-modal full-modal" data-reveal>
  <div class="flex-video widescreen vimeo">
    <iframe data-src="http://player.vimeo.com/video/60122989" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

