 <!--masthead>-->
<section class="hero full-height relative">
    
    <div class="intro center-center">
      <div class="small-centered medium-centered small-12 medium-9 large-centered large-7 columns text-center">
        <img src="{{ site.url }}/assets/img/logo-white.svg" style="min-width:200px; margin-bottom:2rem;">
        <h4><a id="video-btn" href="#" data-reveal-id="videoModal"  class="button btn-round" style="min-width:200px;"><b>{% include lang/string-loop.html section="masthead" id= 00 %}</b> <img src="{{ site.url }}/assets/img/icon-play.svg" alt="paly video" style="height:25px;"></a></h4>
        <!--<h4><a href="#quem-somos" class="page-scroll">saiba mais</a></h4>-->
      </div>
    </div>
  </section>
  
  <div id="videoModal" class="reveal-modal full-modal" data-reveal>
    <div class="flex-video widescreen vimeo">
        <iframe id="time-video" width="560" height="315" src="https://www.youtube.com/embed/qlxrei-wmyk" frameborder="0" allowfullscreen></iframe>      
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>