section.hero {
  z-index: -3;
}

.hero {
  background: #ccc;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://placehold.it/1920x1080");
  background-size: cover;
  //opacity: .8;
}

.hero .intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
/*   outline: 1px solid red; */
}

