
// set toggle topbar at foundation/scss/_top-bar.scss line 78
// $topbar-breakpoint: #{lower-bound($large-range)} !default; // Change to 9999px for always mobile layout

//----------- import fonts ----------//

@import url('https://fonts.googleapis.com/css?family=Lato');

//----------- theme config ----------//

$theme-font-serif:'Lato',sans-serif; 
$theme-font-sans-serif:'Lato', sans-serif; 
$theme-font-size: 16px;

$theme-dark-color: #000;
$theme-light-color: #fff;
$theme-link-color: blue;
$theme-link-color-hover: purple;
$transparent: transparent;

.bg-creme{
    background: #e7dfd1;
}

.bg-azulado{
    background: #63b5c0;
}



.bg-praia{
    background: #63b5c0 url(../img/bg-onda.png) repeat-x bottom;
    padding-bottom: 8rem;
}



.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
background: none !important;
}

.tabs dd > a, .tabs .tab-title > a {
 background: none !important;;   
}


//----------- theme custom ----------//

// custom theme style --- insert here

@import


    //----------- bower  ----------//

    "../../../bower_components/normalize-css/normalize",
	"../../../bower_components/foundation/scss/foundation",
    "../../../bower_components/slick-carousel/slick/slick.scss",
    "../../../bower_components/aos/src/sass/aos.scss",
    "../../../bower_components/swipebox/scss/swipebox.scss",

    //----------- config ----------//

    "+config-colors",
    "+config-text",

    //----------- util ----------//

    "0-0-util",    
    "0-util-imgs",

    //----------- html ----------//

    //style
    "body-html",
    "body-text",
    
    //----------- loading ----------//

    "preloader",

     //----------- components ----------//

    //nav
    "forms",
    "buttons",
    "nav",
    "footer",

    //----------- content ----------//

    "masthead",
    "isotope",
    "slider",
    "modal"
;

