

//body
$body-font: $theme-font-sans-serif;
$body-font-size: $theme-font-size;


// buttons
$btn-font: $theme-font-sans-serif;
$btn-outline-font: $theme-font-sans-serif;


// top bar 
$top-bar-font: $theme-font-sans-serif;

// blockquote
$blockquote-font: $theme-font-serif;
$blockquote-size: 2.55rem;
$blockquote-size-md: 2rem;
$blockquote-size-sm: 1.3rem;

//h1 
$h1-font: $theme-font-serif;

$h1-size-lg: 3.55rem;
$h1-size-md: 2.55rem;
$h1-size-sm: 2rem;

//h2 , h3, h4, h5, h6
$title-font: $theme-font-sans-serif;


//$h3: ;
$h3-size-md: 1.8rem;
$h3-size-sm: 1.4rem;


//h6
$h6-size-lg: 0.8rem;


// hero fullpage

$hero-slider-h1-lg: 3rem;
//$hero-slider-h1-md:;
$hero-slider-h1-sm: 2.1rem;

$hero-slider-h3-lg: 1.8rem;
//$hero-slider-h3-md:;
$hero-slider-h3-sm: 1.3rem;

$type-font: $theme-font-sans-serif;
$type-txt: 2.8rem;


//ABOUT

//skill P

$skill-p-lg: 1.3rem;
$skill-p-sm: 1.1rem;


//process

$process-steps-h3-lg: 2rem;
$process-steps-h3-md: 1.8rem;
$process-steps-h3-sm: 1.4rem;



// WORK PORTFOLIO

$work-card-h4-font: $theme-font-serif;
$work-card-h4-lg: 1.4rem;
$work-card-p-lg: 1.4rem;
$work-card-p-sm: 1.1rem;


