html { 
	font-size: $body-font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility; 
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
} 

body {
	font-family: $body-font;
    overflow: hidden; //js will change
    background: $body-bg;
	overflow-x: hidden !important; 
}