.slick-arrow{
    position: absolute;
    top: 50%;
    // background: #000;
    
}

.slick-arrow:hover, .slick-arrow:focus{
    color: #000;
    // background: #fff;
}

.slick-next{
    right: 7%;
    z-index: 5;
} 
.slick-prev{
    left: 7%;
    z-index: 5;
} 


@media #{$large-up} {
    
    .slick-next{
        right: 20%;
        z-index: 5;
    } 
    .slick-prev{
        left: 20%;
        z-index: 5;
    } 

}

.slick-dots{
  position:absolute;
  height:5px;
  background:rgba(255,255,255,.20);
  top:0px;
  width:100%;
  left:0px;
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.slick-dots li button{display:none;}
.slick-dots li{
  float:left;
  width:0px;
  height:5px;
  background:#62b4c1;
  position:absolute;
  left:0px;
  bottom:0px;
}

.slick-dots li.slick-active{
  width:100%;
  animation:ProgressDots 11s both;
}


@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

