<div class="anim-menu">

   <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <a href="#">
            {% include nav/atom/nav_logo.html %}
        </a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    
  <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right text-right">
       {% include nav/atom/nav_li-loop.html %}
      </ul>
    </section></nav>
  
</div>

 