---
layout: home
page-id: home
---

<a href="#" data-reveal-id="videoModal" class="play-button">
        <div class="play"><span> </span></div>
      </a>

       <!-- start modal -->
    <div id="videoModal" class="reveal-modal full-modal" data-reveal>
      <div class="flex-video widescreen vimeo">
        <iframe src="http://player.vimeo.com/video/60122989" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>



{% include content/swipebox.html %}
{% include content/slider.html %}
{% include content/accordion.html %}
{% include content/embed.html %}
{% include content/lazy-load.html %}



<div id="SlideMiddle">
	<div id="nav">
		<div id="nav-bar">
			<div id="fluid-left"></div>
			<div id="fix-content">
				<div id="nav-bar-filters">
					<div data-f="*" class="filter-item active"><span>All</span></div>
					<div data-f=".c0" class="filter-item"><span>Lorem</span></div>
					<div data-f=".c1" class="filter-item"><span>ipsum</<span></div>
					<div data-f=".c2" class="filter-item"><span>dolor</span></div>
					<div data-f=".c3" class="filter-item"><span>sit</span></div>
					<div data-f=".c4" class="filter-item"><span>amet</span></div>
					<div data-f=".c5" class="filter-item"><span>consectetur</span></div>
					<div data-f=".c6" class="filter-item"><span>adipiscing</span></div>
					<div data-f=".c7" class="filter-item"><span>elit</span></div>
					<div data-f=".c8" class="filter-item"><span>Phasellus</span></div>
				</div>
			</div>
			<div id="fluid-right"></div>
		</div>
	</div>
	<div id="grid">
		<div id="grid-content">
      <div class="grid-item" ><img src="http://placehold.it/1080x1080" /></div>
      
		</div>
	</div>
</div>