//----------- theme config ----------//

@import url('https://fonts.googleapis.com/css?family=Varela+Round'),
        url('https://fonts.googleapis.com/css?family=Arvo');


$theme-font-serif:'Arvo', serif; 
$theme-font-sans-serif:'Varela Round', sans-serif; 
$theme-font-size: 18px;

$theme-dark-color: #000;
$theme-light-color: #fff;
$transparent: transparent;
$brand-color: #223ded;

.dc{
    color:$brand-color;
    font-family:$theme-font-serif; 
}


@import

    //----------- bower  ----------//
    "../bower/normalize-css/normalize",
	"../bower/foundation/scss/foundation",
    

    //helpers
    //"../helper/helpers",
    
     //----------- base ----------//

	//config
    "./config/config-colors",
    "./config/config-text",

    //html
    "./html/html",
    "./html/body",
    //"../base/html/links",
    "./html/text-global",
    "./html/buttons",
    //"../base/html/forms",
    //"../base/html/labels",
    //"../base/html/burger",

    //----------- loading ----------//

    "./component/preloader",

    //----------- layouts ----------//

    //"../layout/fullpage-js",
    //"../layout/sidebar-fixed",
    //"../layout/iconbar-fixed",
    //"../layout/off-canvas",

    
     //----------- components ----------//

    //nav
     "./component/nav",
    // "./component/nav_mobile",
    // "../component/nav/nav_two-level",
    // "../component/nav/nav_top_anim",
    // "../component/nav/nav_subnav_middle",
    // "../component/nav/nav_middle",
    // "../component/nav/nav_middle-buttons",
    // "../component/nav/nav_top_menu-left-modal-right",
    // "../component/nav/off-canvas_tab-bar",

    //social bar
    // "../component/social-bar",

    //  //sections

    // "../component/section/section_profile",
    // "../component/section/section-arrow",

    // //footer

    // "../component/footer/footer",
    // "../component/footer/footer-sticky",

    // //cards
    // "../component/card/card",
    // "../component/card/flipcard",
    // "../component/card/card-fancy",

    // //maps
    // "../component/maps",


    // //color pallete
    // "../component/color-palette",

    // //grids
    // //"../component/grid/grid",

    // //list
    // //"../component/list/list",

     //mast-head
    // "../component/mast-head/hero",
    "./component/masthead",
    // "../component/mast-head/hero-3",
    // //"../component/mast-head/fullpage-hero",

    // //content

    // //"../component/content/bio",
    // //"../component/content/process",
    // //"../component/content/work",

    // //embed
    // //"../component/embed/mailchimp",


    
    "./util/height-width",    
    "./util/margin-padding"

     //----------- docs ----------//

    //"../docs/docs"
;

@import "theme";