--- 
layout: default 
page-id: teste
lang: pt 
---

{% include nav.html %} 
{% include loading-main.html %}

<div class="content">
    <!--FORM MASTHEAD -->
    {% include masthead-test.html %}

    <!--SLIDER FRASES-->
    {% include content/video-embed.html %}

    <!--GALERIA ACCORDION-->
    {% include content/galeria-tabs-test.html %}

    <!-- LOCAL -->
    {% include content/o-local-test.html%}

    <!-- PLANTAS -->
    {% include content/plantas.html %}

    <!--BENEFICIOS-->
    {% include content/beneficios.html %}

    <!--SEJA MEMBRO-->
    {% include content/seja-membro.html %}


    <!--VANTAGENS-->
    {% include content/vantagens.html %}

    <!--FORM CADASTRO-->
    {% include content/form-cadastro-2.html %}
    
</div>
<!--{% include back-top.html %}-->
{% include footer.html %} 
{% include script.html %}