<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="{{ site.author }}">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="{{ site.description }}">


{% if page.url == "/404.html" %}
<meta http-equiv="refresh" content="5; url=/">
{% endif %}

<meta name="p:domain_verify" content="f02cbf6a5c8f230685063521292fbfcb"/>

<meta property="fb:app_id"      content="{{ site.fb-app-id }}" /> 
<meta property="og:type"        content="website" /> 
<meta property="og:title"       content="{{ site.title }}" />
<meta property="og:url"         content="{{ site.url}}" />
<meta property="og:image"       content="{{ site.card | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ site.description }}" />

{% for link in site.see-also %}
<meta property="og:see_also"    content="{{ link }}" />
{% endfor %} 


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.url}}" />
<meta name="twitter:url" content="{{ site.url}}">
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:image" content="{{ site.avatar | prepend: site.baseurl | prepend: site.url }}" />
<meta name="twitter:site" content="@hello_diogo">
<meta name="twitter:creator" content="@hello_diogo">