
.anim-menu {
  transition: background 0.5s ease;
  background:transparent;
  position: fixed;
  width: 100%;
  z-index: 998 !important;

  .top-bar-section > ul {
  visibility: hidden; 
  z-index: 99;
  padding-right: 1.5rem;
}


  .top-bar  { background:transparent !important;}

  
  
}



.logo  a{
    border-bottom:none;
    text-decoration:none;
  }

.logo img {
  max-height: 3rem;
}



.top-bar  {
  background:transparent;
  font-family: $top-bar-font !important;
  width:100% !important;
  transition: margin-top 0.5s ease, height 0.5s ease; 
  margin-top:1.25rem; 
  .name h1 a {
    transition: color 0.5s ease;
    color:$top-bar-txt!important;
    text-decoration: none;
    border-bottom: none;
  }
}

// hamburger menu

.top-bar .toggle-topbar.menu-icon a span::after{
    box-shadow: 0 0 0 1px #223ded, 0 7px 0 1px #223ded, 0 14px 0 1px #223ded !important;
}


.toggle-topbar{
  visibility: hidden;
}


.top-bar-section > ul {
  visibility: hidden; 
  z-index: 99;
  padding-right: 1.5rem;
}

.top-bar-section ul li {
  background:transparent !important;
  & > a {
    font-family: $top-bar-font !important;
    font-size: 1.2rem;
    color:$top-bar-txt;
    text-decoration: none;
    border-bottom: none;
    transition: color 0.5s ease !important;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background:transparent!important;
}





.top-bar .toggle-topbar a{
  color: $top-bar-txt !important;
  transition: color 0.5s ease !important;
}

.top-bar .title-area {
  position: relative;
  z-index: 1;  
}




.top-bar-li-dark { 
  color: $top-bar-txt-undocked !important;
}

.topbar-menu-dark{
  color: $top-bar-txt-undocked !important;

}




.top-bar.expanded{
  transition: height 0.5s ease;
  height:23rem !important;
}


.expanded .top-bar-section > ul {
  -webkit-animation: topbar-dropdown 0.5s ease-in-out;
  -moz-animation: topbar-dropdown 0.5s ease-in-out;
  -ms-animation: topbar-dropdown 0.5s ease-in-out;
  animation: topbar-dropdown 0.5s ease-in-out;
}

.top-bar.expanded .title-area{
  background:$top-bar-bg !important;
}






.undocked   {
  padding-bottom: 0.25rem;
  transition: background 0.5s ease !important;
  background: $top-bar-bg-undocked !important;
  visibility: visible !important;
}


.undocked .toggle-topbar{
  visibility: visible !important;
}




.undocked .name img {
  max-height: 3rem;
}


// undocked top bar 


.undocked .top-bar {
  transition: height 0.5s ease, margin-top 0.5s ease;
  margin-top:0px; //padding animation - end
  .name h1 a {
    transition: color 0.5s ease;
    color: $top-bar-txt-undocked !important;
    text-decoration: none;
  }
}

// undocked top bar  section UL > LI

.undocked .top-bar-section ul li {
  background:transparent !important;
  & > a {
    transition: background 0.5s ease !important;
    color: $top-bar-txt-undocked !important;
    text-decoration: none;
  }
  visibility: visible;
}


// undocked top bar text 

.undocked .top-bar .toggle-topbar a{
  color: $top-bar-txt-undocked !important;
  transition: color 0.5s ease!important;
  text-decoration: none;
  border-bottom: none;
}


// undocked top bar expanded

.undocked .top-bar.expanded{
  transition: height 0.5s ease;
  height:25rem !important;
}
.undocked .top-bar.expanded .toggle-topbar a{
  color: $top-bar-txt-undocked !important;
  text-decoration: none;
  border-bottom: none;
}





// mobile top bar animation

@-webkit-keyframes topbar-dropdown {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
     opacity: 1.0;
 }
}

@-moz-keyframes topbar-dropdown {
  0% {
    -moz-transform: translateY(-100%);
     opacity: 0;
 }

  100% {
    -moz-transform: translateY(0);
     opacity: 1.0;
 }
}

@-ms-keyframes topbar-dropdown {
  0% {
    -ms-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -ms-transform: translateY(0);
    opacity: 1.0;
  }
}

@-ms-keyframes topbar-dropdown {
  0% {
    -o-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -o-transform: translateY(0);
    opacity: 1.0;
  }
}

@keyframes topbar-dropdown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1.0;
  }
}





@media screen and (min-width: 768px) {
    .top-bar-section > ul {
        position: initial;
        z-index: initial;
    }
    
}