
<section>
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>
			{% for string in site.data.strings %}
				{% if string.section == "beneficios" and string.id == 00 %}
					{{ string.title-PT }}
				{% endif %}
            {% endfor %}
			</h2>
			<h5>
			{% for string in site.data.strings %}
				{% if string.section == "beneficios" and string.id == 01 %}
					{{ string.title-PT }}
				{% endif %}
            {% endfor %}
			</h5>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" data-equalizer>
				{% for item in site.data.content %}
					{% if item.category == "beneficios" %}
						{% capture file-name %}{{ item.file }}{% endcapture %}
						{% capture description-content %}{{ item.desc-PT }}{% endcapture %}
						{% include content/grid-list-block.html 
							file=file-name 
							description=description-content 
							img-class="full-width"
						%}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</section>