<section class="bg-azulado" style="padding: 3rem 0;">
  <div class="row bg-creme shadow" style="max-width:800px;padding:3rem;">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSezui3Nywp3VpzVT1uLbAAgW3t-ksF4bRFGOYIv53K91HhNeA/formResponse" autocomplete="on" id="ss-form" method="post" name="ss-form" onsubmit="" target="secret-frame" data-abide>
      <div class="small-12 medium-12 large-12 columns" style="margin-bottom:2rem;">
          <span>SEJA MEMBRO E GANHE BENEFÍCIOS EXCLUSIVOS</span>
          <br>
          <span>Basta preencher o cadastro e nossa equipe entra em contato.</span>
        </div>
      <div class="ss-question-list" role="list">
        <div class="ss-form-question errorbox-good small-12 medium-6 large-3 columns" role="listitem">
          <div class="ss-item ss-item-required ss-text" dir="auto">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1900922270"></label>
              <div class="ss-q-title">
                <label class="ss-q-item-label" for="entry_1900922270">
                  Nome Completo 
                  <label aria-label="(campo obrigatório)" for="itemView.getDomIdToLabel()"></label> 
                  <!-- <span aria-hidden="true" class="ss-required-asterisk">*</span> -->
                </label>
              </div>
              <div class="ss-q-help ss-secondary-text" dir="auto"></div><input aria-label="Nome Completo" aria-required="true" class="ss-q-short" dir="auto" id="entry_1900922270" name="entry.1900922270" required="" title="" type="text" value="">
              <small class="error">Campo Obrigatório</small> 
              <!-- <div class="error-message" id="626670713_errorMessage"></div> -->
              <!-- <div class="required-message">
                Esta pergunta &eacute; obrigat&oacute;ria
              </div> -->
            </div>
          </div>
        </div>
        <div class="ss-form-question errorbox-good small-12 medium-6 large-3 columns" role="listitem">
          <div class="ss-item ss-item-required ss-text" dir="auto">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1873196811"></label>
              <div class="ss-q-title">
                <label class="ss-q-item-label" for="entry_1873196811">
                    E-mail 
                    <label aria-label="(campo obrigatório)" for="itemView.getDomIdToLabel()"></label> 
                    <!-- <span aria-hidden="true" class="ss-required-asterisk">*</span></label> -->
              </div>
              <div class="ss-q-help ss-secondary-text" dir="auto"></div><input aria-label="E-mail O e-mail inserido não está válido" aria-required="true" class="ss-q-short" dir="auto" id="entry_1873196811" name="entry.1873196811" pattern=".*@.*" required="" title="O e-mail inserido n&atilde;o est&aacute; v&aacute;lido" type="text" value="">
              <small class="error">Inserir um Email válido</small>
              <!-- <div class="error-message" id="2097057886_errorMessage"></div> -->
              <!-- <div class="required-message">
                Esta pergunta &eacute; obrigat&oacute;ria
              </div> -->
            </div>
          </div>
        </div>
        <div class="ss-form-question errorbox-good small-12 medium-6 large-3 columns" role="listitem">
          <div class="ss-item ss-item-required ss-text" dir="auto">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_704361778"></label>
              <div class="ss-q-title">
                <label class="ss-q-item-label" for="entry_704361778">
                  Telefone <label aria-label="(campo obrigatório)" for="itemView.getDomIdToLabel()"></label>
                  <!-- <span aria-hidden="true" class="ss-required-asterisk">*</span> -->
                </label>
              </div>
              <div class="ss-q-help ss-secondary-text" dir="auto"></div><input aria-label="Telefone Insira apenas números, incluindo o seu código DDD." aria-required="true" class="ss-q-short" dir="auto" id="entry_704361778" name="entry.704361778" required="" step="any" title="Insira apenas n&uacute;meros, incluindo o seu c&oacute;digo DDD." type="number" value="">
              <small class="error">Inserir DDD + Telefone</small>
              <!-- <div class="error-message" id="411122700_errorMessage">
                Insira apenas n&uacute;meros, incluindo o seu c&oacute;digo DDD.
              </div> -->
              <!-- <div class="required-message">
                Esta pergunta &eacute; obrigat&oacute;ria
              </div> -->
            </div>
          </div>
        </div><input name="draftResponse" type="hidden" value="[null,null,&quot;109113734573274127&quot;] "> <input name="pageHistory" type="hidden" value="0"> <input name="fbzx" type="hidden" value="109113734573274127">
        <div class="ss-send-email-receipt" dir="ltr" style="margin-bottom: 4px;">
          <label for="emailReceipt" style="display:inline;"></label>
        </div>
        <div class="ss-item ss-navigate small-12 medium-6 large-3 columns">
            <!-- <span id="disable-button">
              <input class="button expand round disable" id="ss-disable" name="submit" type="submit" value="Enviar" style="background:none;color:black;margin-top:1rem;opacity:0.1">
            </span> -->
            <span id="active-button" class="">
              <input class="button expand round  jfk-button jfk-button-action" id="ss-submit" name="submit" type="submit" value="Enviar" style="background:none;color:black;margin-top:1rem;">
            </span>
            <!-- <table id="navigation-table">
            <tbody>
              <tr>
                <td class="ss-form-entry goog-inline-block" dir="ltr" id="navigation-buttons">
                  <input class="button btn-round jfk-button jfk-button-action" id="ss-submit" name="submit" type="submit" value="Enviar" style="background:none;color:black;">
                  <div class="ss-password-warning ss-secondary-text">
                    Nunca envie senhas pelo Formulários Google.
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </form>
  </div>
  <div id="form-success-msg" class="row hide" style="margin-top:1.5rem;">
      <div data-alert class=" large-12 columns alert-box success round text-center">
          <h4 style="color:white;">Enviado com sucesso <a id="close-msg"  href="javascript:void(0)" onclick="return false;">&times;</a></h4>
          
        </div>
  </div>
</section>

<iframe name="secret-frame" width="0" height="0" border="0" style="display: none;"></iframe>
