<!-- <section class="bg-creme" style="padding: 3rem 0;">
  <div class="row">
    <div class="small-12 columns">
      <span>SEJA MEMBRO E GANHE BENEFÍCIOS EXCLUSIVOS</span>
      <span>Basta preencher o cadastro e nossa equipe entra em contato.</span>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
  </div>
</section> -->

<section class="bg-creme" style="padding: 3rem 0;">
  <div class="row">
    <div id="formulario">
        <form action="https://docs.google.com/forms/d/e/1FAIpQLSezui3Nywp3VpzVT1uLbAAgW3t-ksF4bRFGOYIv53K91HhNeA/formResponse" method="POST" id="ss-form" target="secret-frame" onsubmit="">
          <ol role="list" class="ss-question-list" style="padding-left: 0">
              <div class="small-12 medium-12 large-12 columns" style="padding-bottom: 1.5rem;">
                <h3>Seja membro e ganhe benfícios exclusivos.</h3>
                <h5>Basta preencher o cadastro e nossa equipe entra em contato.</h5>
              </div>
              <div class="ss-form-question errorbox-good small-12 medium-6 large-3 columns" role="listitem">
                <div dir="auto" class="ss-item  ss-text">
                  <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1078458195">
                      <div class="ss-q-title">Nome</div>
                      <!-- <div class="ss-q-help ss-secondary-text" dir="auto">Please enter your name below:</div> -->
                    </label>
                    <input required pattern="[a-zA-Z]+" type="text" name="entry.938778749" value="" class="ss-q-short" id="entry_1078458195 my-name" dir="auto" aria-label="What is your name? Please enter your name below: " title="">
                    <!-- <small class="error">Name is required and must be a string.</small> -->
                  </div>
                </div>
              </div><!-- full name input -->
              <div class="ss-form-question errorbox-good small-12 medium-6 large-3 columns" role="listitem">
                <div dir="auto" class="ss-item  ss-text">
                  <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1078458195">
                      <div class="ss-q-title">Email</div>
                      <!-- <div class="ss-q-help ss-secondary-text" dir="auto">Please enter your name below:</div> -->
                    </label>
                    <input required type="text" name="entry.296699377" value="" class="ss-q-short" id="entry_958160926" dir="auto" aria-label="Will it show? We will see! " title="">
                    <div class="error-message" id="1463992858_errorMessage"></div>
                  </div>
                </div>
              </div><!-- email input -->
              <div class="ss-form-question errorbox-good small-12 medium-6 large-3 columns" role="listitem">
                <div dir="auto" class="ss-item  ss-text">
                  <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1078458195">
                      <div class="ss-q-title">Telefone</div>
                      <!-- <div class="ss-q-help ss-secondary-text" dir="auto">Please enter your name below:</div> -->
                    </label>
                    <input required type="text" name="entry.296699377" value="" class="ss-q-short" id="entry_958160926" dir="auto" aria-label="Will it show? We will see! " title="">
                    <div class="error-message" id="1463992858_errorMessage"></div>
                  </div>
                </div>
              </div><!-- phone input --> 
              <input type="hidden" name="draftResponse" value="[,,&quot;7455317985634558711&quot;]">
              <input type="hidden" name="pageHistory" value="0">
              <input type="hidden" name="fvv" value="0">
              <input type="hidden" name="fbzx" value="7455317985634558711">
              <div class="ss-item ss-navigate small-12 medium-6 large-3 columns">
                <table id="navigation-table" style="background:none;">
                  <tbody>
                    <tr>
                      <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                        <input type="submit" name="submit" value="Enviar" id="ss-submit" class="jfk-button jfk-button-action button btn-round" style="background:none;color:black;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </ol>
        </form> 
    </div>
  </div>
</section>



<!-- <div id="formulario">
  <form action="https://docs.google.com/forms/d/e/1FAIpQLSezui3Nywp3VpzVT1uLbAAgW3t-ksF4bRFGOYIv53K91HhNeA/formResponse" method="POST" id="ss-form" target="secret-frame" onsubmit="">
    <ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1078458195"><div class="ss-q-title">What is your name?
</div>
<div class="ss-q-help ss-secondary-text" dir="auto">Please enter your name below:</div></label>
<input type="text" name="entry.938778749" value="" class="ss-q-short" id="entry_1078458195 my-name" dir="auto" aria-label="What is your name? Please enter your name below: " title="">
<div class="error-message" id="452512727_errorMessage"></div>
</div></div></div> 

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<input type="text" name="entry.296699377" value="" class="ss-q-short" id="entry_958160926" dir="auto" aria-label="Will it show? We will see! " title="">
<div class="error-message" id="1463992858_errorMessage"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;7455317985634558711&quot;]
">
<input type="hidden" name="pageHistory" value="0">

<input type="hidden" name="fvv" value="0">


<input type="hidden" name="fbzx" value="7455317985634558711">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Sign Me Up!" id="ss-submit" class="jfk-button jfk-button-action "></td>
  </tr></tbody></table></div></ol></form> 
</div> -->



  <iframe name="secret-frame" width="0" height="0" border="0" style="display: none;"></iframe>

<!-- Script to redirect to a custom page -->
<script>
// replace "ss-submit" with the ID of your submit button
document.getElementById("ss-submit").addEventListener("click", function(){
  // adds a delay because the results page loads before the form has a chance to submit
  setTimeout(function() {
    // replace the url in quotes below to where you want to the user to be redirected to
    // replace the "It works!" with what you want to appear in the Javascript dialogue
  // alert("It works!")
  // replace "ss-form" with the ID of your form
  // document.getElementById("ss-form").reset();
  document.getElementById('formulario').innerHTML = 'valeu meu rei, depois nós fala fiel!!!!';
  }, 1000);
});
</script>