<!--FORM 1-->
<!-- <section class="bg-creme" style="padding: 3rem 0;">
  <div class="row">
    <div class="small-12 columns">
      SEJA MEMBRO E GANHE BENEFÍCIOS EXCLUSIVOS
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <input type="" name="nome" placeholder="seu nome">
    </div>
  </div>
</section> -->

<form class="jotform-form" action="https://submit.jotformz.com/submit/72156412298660/" method="post" name="form_72156412298660" id="72156412298660" accept-charset="utf-8">
  <input type="hidden" name="formID" value="72156412298660" />
  <div class="form-all">
    <link type="text/css" rel="stylesheet" media="all" href="https://cdn.jotfor.ms/wizards/languageWizard/custom-dropdown/css/lang-dd.css?3.3.1325" />
    <div class="cont">
      <input type="text" id="input_language" name="input_language" style="display:none" />
      <div class="language-dd" id="langDd" style="display:none">
        <div class="dd-placeholder lang-emp">
          Language
        </div>
        <ul class="lang-list dn" id="langList">
          <li data-lang="pt" class="pt">
            Português
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jotfor.ms/js/formTranslation.v2.js?3.3.1325"></script>
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_1" class="form-header" data-component="header">
              Deixe os seus dados que entraremos em contato
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_3">
        <label class="form-label form-label-left form-label-auto" id="label_3" for="first_3"> Nome </label>
        <div id="cid_3" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="text" id="first_3" name="q3_nome[first]" class="form-textbox" size="10" value="" data-component="first" />
              <label class="form-sub-label" for="first_3" id="sublabel_first" style="min-height:13px;"> Nome próprio </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="text" id="last_3" name="q3_nome[last]" class="form-textbox" size="15" value="" data-component="last" />
              <label class="form-sub-label" for="last_3" id="sublabel_last" style="min-height:13px;"> Sobrenome </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_phone" id="id_5">
        <label class="form-label form-label-left form-label-auto" id="label_5" for="input_5_area">
          Número de Telefone
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_5" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="tel" id="input_5_area" name="q5_numeroDe[area]" class="form-textbox validate[required]" size="3" value="" placeholder="preencher" data-component="areaCode" required="" />
              <span class="phone-separate">
                 -
              </span>
              <label class="form-sub-label" for="input_5_area" id="sublabel_area" style="min-height:13px;"> DDD </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="tel" id="input_5_phone" name="q5_numeroDe[phone]" class="form-textbox validate[required]" size="8" value="" placeholder="favor preencher" data-component="phone" required="" />
              <label class="form-sub-label" for="input_5_phone" id="sublabel_phone" style="min-height:13px;"> Número de Telefone </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_email" id="id_4">
        <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4"> E-mail </label>
        <div id="cid_4" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align:top;">
            <input type="email" id="input_4" name="q4_email" class="form-textbox validate[Email]" size="30" value="" data-component="email" />
            <label class="form-sub-label" for="input_4" style="min-height:13px;"> example@example.com </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px;" class="form-buttons-wrapper">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button">
              Enviar
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = "0";
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="72156412298660" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "72156412298660-72156412298660";
  </script>
</form>