<section id="exp" class="bg-azulado" style="padding-top:3rem; padding-bottom:1rem;">
    <div class="row">
        <div class="small-12 text-center">
            <h2>
                {% include lang/string-loop.html section="galeria-tabs" id= 00 %}
            </h2>
        </div>
    </div>
</section>
<section class="bg-praia" style="padding-bottom:13rem; padding-top:1rem;">
    <div class="row">
        <div class="small-12 columns">
            <div class="show-for-medium-up text-center" data-tab style="margin-bottom:1.5rem;">
                <span class="tab-title active">
                    <a href="#panel1" class="btn-galeria" style="padding:0.75rem 1.5rem !important;">
                        {% include lang/string-loop.html section="galeria-tabs" id= 01 %}
                    </a>
                </span>
                <span class="tab-title">
                    <a href="#panel2" class="btn-galeria">
                        {% include lang/string-loop.html section="galeria-tabs" id= 02 %}
                    </a>
                </span>
                <span class="tab-title">
                    <a href="#panel3" class="btn-galeria">
                        {% include lang/string-loop.html section="galeria-tabs" id= 03 %}
                    </a>
                </span>
            </div>
            <dl class="accordion" data-accordion>

                <dd class="accordion-navigation">
                    <a href="#panel1" class="show-for-small-only">
                        {% include lang/string-loop.html section="galeria-tabs" id= 01 %}
                    </a>
                    <div id="panel1" class="content active">
                        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" data-equalizer>
                            {% for item in site.data.content %}
                                {% if item.category == "galeria-tp" and item.subcategory == "apartamentos" %}
                                    {% include utils/content-loop.html %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="#panel2" class="show-for-small-only">
                        {% include lang/string-loop.html section="galeria-tabs" id= 02 %}
                    </a>
                    <div id="panel2" class="content" data-equalizer="gal">
                        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                            {% for item in site.data.content %}
                                {% if item.category == "galeria-tp" and item.subcategory == "serviços" %}
                                    {% include utils/content-loop.html %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="#panel3" class="show-for-small-only">
                        {% include lang/string-loop.html section="galeria-tabs" id= 03 %}
                    </a>
                    <div id="panel3" class="content" >
                        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" >
                            {% for item in site.data.content %}
                                {% if item.category == "galeria-tp" and item.subcategory == "lazer" %}
                                    {% include utils/content-loop.html %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</section>