
<!--section>
	<div class="row full-width relative">
		<div class="row slider-frases text-center">
			{% for item in site.data.content %}
				{% if item.category == "slider-frases" %}
					<div style="color: #fff; background: url({{ site.url }}//assets/img/1920/{{ item.file }}) center; background-size:cover;" class="full-height">
						<h3 class="center-center" style="color:white; text-transform:uppercase;">{% include lang/content-title.html %}</h3>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
</section-->


<!-- <section>
		<div class="row full-width large-collapse">
		<div class="large-12 medium-12 columns text-center" >
			<div class="row relative slider-frases text-center">
				<div style="color: #fff; background: url(./assets/img/1920/carrossel_01.jpg); background-size:cover;" class="full-height">
					<h1 class="center-center">O Time Property é um conceito que valoriza o seu bem mais precioso: o seu tempo livre.</h1>
				</div>
				<div style="color: #fff; background: url(./assets/img/1920/carrossel_02.jpg); background-size:cover;" class="full-height">
					<h1 class="center-center">Com ele, você se torna membro de um Club de luxo,em um lugar paradisíaco, para aproveitar com a sua família e amigos.</h1>
				</div>
				<div style="color: #fff; background: url(./assets/img/1920/carrossel_03.jpg); background-size:cover;" class="full-height">
					<h1 class="center-center">e tudo isso com uma<br> mensalidade a partir de R$ 248.</h1>
				</div>
			</div>
		</div>
	</div>
	</section>
	 -->