<section>
	<div class="relative">
		<div class="slider-frases text-center">
			{% for item in site.data.content %}
				{% if item.category == "slider-frases" %}
					<div style="color: #fff; background: url({{ site.url }}//assets/img/1920/{{ item.file }}) center; background-size:cover;" class="full-height">
						<h3 class="center-center" style="color:white; text-transform:uppercase;">{% include lang/content-title.html %}</h3>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
</section>
