<section>

    <div class="row full-width relative box-container large-collapse">
        <div class="large-12 medium-12 columns text-center" >
		<h1>Image Lightbox</h1>
        </div>
        <div class="large-4 columns box">
            <a href="http://placehold.it/1080x10800/bd2828/ffffff" class="swipebox" title="Fog">
                <img src="http://placehold.it/1080x1080/bd2828/ffffff" alt="image">
            </a>
        </div>
        <div class="large-4 columns box">
           <a href="http://placehold.it/1080x1080/d0892a/ffffff" class="swipebox" title="City">
						<img src="http://placehold.it/1080x1080/d0892a/ffffff" alt="image">
					</a>
        </div>
        <div class="large-4 columns box">
            <a href="http://placehold.it/1080x1080/e2d715/ffffff" class="swipebox" title="Street">
						<img src="http://placehold.it/1080x1080/e2d715/ffffff" alt="image">
					</a>
        </div>
        
    </div>
	
	</section>



