<section id="vant">
	<div class="row">
		<div class="small-12 columns text-center">
			<h2 style="padding-top:6rem;">
				{% include lang/string-loop.html section="vantagens" id= 00 %}
			</h2>
			<h5 style="padding-top:1rem; padding-bottom:3rem;">
				{% include lang/string-loop.html section="vantagens" id= 01 %}
			</h5>
		</div>
	</div>
	<div class="row" style="padding-top:1rem; padding-bottom:6rem;">
		<div class="small-12 columns">
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4 text-center" data-equalizer>
				{% for item in site.data.content %}
					{% if item.category == "vantagens" %}
						{% include utils/content-loop.html %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
