.img-circle {
    border-radius: 50%;
}


.img-circle-landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-circle-landscape img {
  width: auto;
  height: 100%;
}


//shadow

//small
//medium
//large


