---
layout: default
---
{% include nav.html %}
{% include loading-main.html %}
<div class="content">
        <!--FORM MASTHEAD -->
        {% include masthead.html %}
        <!--FORM CADASTRO-->
        {% include content/form-cadastro.html %}

        <!--SLIDER FRASES-->
        {% include content/slider-frases.html %}

        <!--GALERIA ACCORDION-->
        {% include content/galeria-tabs.html %}

        <!-- LOCAL -->
        {% include content/o-local.html%}

        <!-- PLANTAS -->
        {% include content/plantas.html %}

        <!--BENEFICIOS-->
        {% include content/beneficios.html %}

        <!--SEJA MEMBRO-->
        {% include content/seja-membro.html %}


        <!--VANTAGENS-->
        {% include content/vantagens.html %}


        <!--FORM CADASTRO-->
        {% include content/form-cadastro.html %}
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/588669c6bcf30e71ac14dcdd/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!--{% include back-top.html %}-->
{% include footer.html %}
{% include script.html %}